In [5]:
import pandas as pd

In [7]:
data=pd.read_csv('all_season_details.csv')

C:\Users\Dell\AppData\Local\Temp\ipykernel_10420\2549140871.py:1: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv('all_season_details.csv')

In [9]:
data

,comment_id,season,match_id,match_name,home_team,away_team,current_innings,innings_id,over,ball,...,wicket_id,wkt_batsman_name,wkt_bowler_name,wkt_batsman_runs,wkt_batsman_balls,wkt_text,isRetiredHurt,text,preText,postText
0,110,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,False,"nice and full, angling and perhaps swinging in...",<p><strong>7.30pm</strong> Gaikwad and Conway ...,NaN
1,120,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,False,"Conway shuffles across off, and shimmies out a...",NaN,NaN
2,130,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,False,"good length, angling in at off and then straig...",NaN,NaN
3,140,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,4,...,NaN,NaN,NaN,NaN,NaN,NaN,False,"shorter and slanting into middle and leg, Gaik...","<p>Rummy: ""Fast bowling options for CSK defini...",NaN
4,150,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,5,...,NaN,NaN,NaN,NaN,NaN,NaN,False,Shami hits a heavy length and brings this back...,"<p>LG: ""Watching out for Hangargekar. He was i...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242545,219020,2008.0,336040,CSK v RR,CSK,RR,RR,2,20,2,...,NaN,NaN,NaN,NaN,NaN,NaN,False,lovely! Balaji's bowled a yorker outside off s...,NaN,NaN
242546,219030,2008.0,336040,CSK v RR,CSK,RR,RR,2,20,3,...,NaN,NaN,NaN,NaN,NaN,NaN,False,Warne steps down the track and throws his bat ...,NaN,<p>6 off 3 balls.</p>
242547,219050,2008.0,336040,CSK v RR,CSK,RR,RR,2,20,4,...,NaN,NaN,NaN,NaN,NaN,NaN,False,Warne reaches out for a full ball and squeezes...,NaN,<p>Three to win off two balls.</p>
242548,219040,2008.0,336040,CSK v RR,CSK,RR,RR,2,20,4,...,NaN,NaN,NaN,NaN,NaN,NaN,False,what has he done! Balaji has bowled a wide out...,<p>Rajasthan need two runs a ball. Balaji from...,NaN
242549,219060,2008.0,336040,CSK v RR,CSK,RR,RR,2,20,5,...,NaN,NaN,NaN,NaN,NaN,NaN,False,Balaji bowls a full toss angling into the left...,NaN,<p>Rajasthan need one off the final ball.</p>

In [11]:
data.columns

Index(['comment_id', 'season', 'match_id', 'match_name', 'home_team',
       'away_team', 'current_innings', 'innings_id', 'over', 'ball', 'runs',
       'shortText', 'isBoundary', 'isWide', 'isNoball', 'batsman1_id',
       'batsman1_name', 'batsman1_runs', 'batsman1_balls', 'bowler1_id',
       'bowler1_name', 'bowler1_overs', 'bowler1_maidens', 'bowler1_runs',
       'bowler1_wkts', 'batsman2_id', 'batsman2_name', 'batsman2_runs',
       'batsman2_balls', 'bowler2_id', 'bowler2_name', 'bowler2_overs',
       'bowler2_maidens', 'bowler2_runs', 'bowler2_wkts', 'wicket_id',
       'wkt_batsman_name', 'wkt_bowler_name', 'wkt_batsman_runs',
       'wkt_batsman_balls', 'wkt_text', 'isRetiredHurt', 'text', 'preText',
       'postText'],
      dtype='object')

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242550 entries, 0 to 242549
Data columns (total 45 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   comment_id         242550 non-null  int64
 1   season             242067 non-null  float64
 2   match_id           242550 non-null  int64
 3   match_name         242550 non-null  object
 4   home_team          242550 non-null  object
 5   away_team          242550 non-null  object
 6   current_innings    242550 non-null  object
 7   innings_id         242550 non-null  int64
 8   over               242550 non-null  int64
 9   ball               242550 non-null  int64
 10  runs               242550 non-null  int64
 11  shortText          242550 non-null  object
 12  isBoundary         242550 non-null  bool
 13  isWide             242550 non-null  bool
 14  isNoball           242550 non-null  bool
 15  batsman1_id        242550 non-null  int64
 16  batsman1_name      242550 non-null  object
 17  batsman1_runs      242550 non-null  int64
 18  batsman1_balls     242550 non-null  int64
 19  bowler1_id         242550 non-null  int64
 20  bowler1_name       242550 non-null  object
 21  bowler1_overs      242550 non-null  float64
 22  bowler1_maidens    242550 non-null  int64
 23  bowler1_runs       242550 non-null  int64
 24  bowler1_wkts       242550 non-null  int64
 25  batsman2_id        242550 non-null  object
 26  batsman2_name      242548 non-null  object
 27  batsman2_runs      242550 non-null  int64
 28  batsman2_balls     242550 non-null  int64
 29  bowler2_id         229709 non-null  float64
 30  bowler2_name       229709 non-null  object
 31  bowler2_overs      229709 non-null  float64
 32  bowler2_maidens    229709 non-null  float64
 33  bowler2_runs       229709 non-null  float64
 34  bowler2_wkts       229709 non-null  float64
 35  wicket_id          11880 non-null   float64
 36  wkt_batsman_name   11880 non-null   object
 37  wkt_bowler_name    11880 non-null   object
 38  wkt_batsman_runs   11880 non-null   float64
 39  wkt_batsman_balls  11880 non-null   float64
 40  wkt_text           11880 non-null   object
 41  isRetiredHurt      242550 non-null  bool
 42  text               241178 non-null  object
 43  preText            46275 non-null   object
 44  postText           19694 non-null   object
dtypes: bool(4), float64(10), int64(15), object(16)
memory usage: 76.8+ MB

In [15]:
data.describe()

,comment_id,season,match_id,innings_id,over,ball,runs,batsman1_id,batsman1_runs,batsman1_balls,...,batsman2_runs,batsman2_balls,bowler2_id,bowler2_overs,bowler2_maidens,bowler2_runs,bowler2_wkts,wicket_id,wkt_batsman_runs,wkt_batsman_balls
count,242550.000000,242067.000000,2.425500e+05,242550.000000,242550.000000,242550.000000,242550.000000,2.425500e+05,242550.000000,242550.000000,...,242550.000000,242550.000000,2.297090e+05,229709.000000,229709.000000,229709.000000,229709.000000,1.188000e+04,11880.000000,11880.000000
mean,86415.531767,2015.588048,8.701769e+05,1.483245,10.161678,3.483875,1.317901,2.503057e+05,18.047631,14.119819,...,16.551618,13.219233,3.151650e+05,2.198914,0.024483,16.235019,0.551868,2.635273e+05,18.815404,15.311869
std,79516.360959,4.639506,3.530671e+05,0.499720,5.658053,1.707451,1.612821,2.968806e+05,18.341545,11.905881,...,17.771899,11.892068,3.222056e+05,1.046243,0.155527,10.171336,0.773715,3.039915e+05,19.542348,12.695239
min,110.000000,2008.000000,3.359820e+05,1.000000,1.000000,1.000000,0.000000,4.292000e+03,0.000000,0.000000,...,0.000000,0.000000,4.508000e+03,0.100000,0.000000,0.000000,0.000000,4.292000e+03,0.000000,0.000000
25%,18040.000000,2012.000000,5.483150e+05,1.000000,5.000000,2.000000,0.000000,3.296600e+04,4.000000,5.000000,...,3.000000,4.000000,3.333500e+04,1.000000,0.000000,8.000000,0.000000,3.314100e+04,4.000000,5.000000
50%,29010.000000,2015.000000,8.298190e+05,1.000000,10.000000,3.000000,1.000000,5.291200e+04,12.000000,11.000000,...,11.000000,10.000000,2.655640e+05,2.000000,0.000000,14.000000,0.000000,2.118540e+05,12.000000,12.000000
75%,118060.000000,2020.000000,1.216506e+06,2.000000,15.000000,5.000000,1.000000,3.791430e+05,27.000000,20.000000,...,25.000000,20.000000,4.752810e+05,3.000000,0.000000,23.000000,1.000000,3.984390e+05,28.000000,22.000000
max,219080.000000,2023.000000,1.370353e+06,2.000000,20.000000,7.000000,7.000000,1.349361e+06,174.000000,73.000000,...,174.000000,73.000000,1.350792e+06,4.000000,2.000000,70.000000,5.000000,1.312645e+06,129.000000,69.000000

In [17]:
data.isnull().sum()

comment_id                0
season                  483
match_id                  0
match_name                0
home_team                 0
away_team                 0
current_innings           0
innings_id                0
over                      0
ball                      0
runs                      0
shortText                 0
isBoundary                0
isWide                    0
isNoball                  0
batsman1_id               0
batsman1_name             0
batsman1_runs             0
batsman1_balls            0
bowler1_id                0
bowler1_name              0
bowler1_overs             0
bowler1_maidens           0
bowler1_runs              0
bowler1_wkts              0
batsman2_id               0
batsman2_name             2
batsman2_runs             0
batsman2_balls            0
bowler2_id            12841
bowler2_name          12841
bowler2_overs         12841
bowler2_maidens       12841
bowler2_runs          12841
bowler2_wkts          12841
wicket_id            230670
wkt_batsman_name     230670
wkt_bowler_name      230670
wkt_batsman_runs     230670
wkt_batsman_balls    230670
wkt_text             230670
isRetiredHurt             0
text                   1372
preText              196275
postText             222856
dtype: int64

In [19]:
data.shape

(242550, 45)

In [21]:
data[data['season'].isnull()]

,comment_id,season,match_id,match_name,home_team,away_team,current_innings,innings_id,over,ball,...,wicket_id,wkt_batsman_name,wkt_bowler_name,wkt_batsman_runs,wkt_batsman_balls,wkt_text,isRetiredHurt,text,preText,postText
5080,110,NaN,1359496,MI v KKR,KKR,MI,KKR,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,False,classical left-arm seamer's delivery. Full bal...,<p></p>\n\n<p><B>3.28pm</b> <B>Arjun Tendulkar...,NaN
5081,120,NaN,1359496,MI v KKR,KKR,MI,KKR,1,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,False,<B>is that a catch? David running back from mi...,NaN,NaN
5082,130,NaN,1359496,MI v KKR,KKR,MI,KKR,1,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,False,full on middle and leg. Bit of swing into the ...,NaN,<p><b>If you are seeing this on a mobile devic...
5083,140,NaN,1359496,MI v KKR,KKR,MI,KKR,1,1,4,...,NaN,NaN,NaN,NaN,NaN,NaN,False,"<B>massive appeal, the crowd goes up in unison...",NaN,NaN
5084,150,NaN,1359496,MI v KKR,KKR,MI,KKR,1,1,5,...,NaN,NaN,NaN,NaN,NaN,NaN,False,"back of a length around leg, and Gurbaz sways ...",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15196,219030,NaN,1359538,PBKS v DC,DC,PBKS,PBKS,2,20,3,...,NaN,NaN,NaN,NaN,NaN,NaN,False,"wide full toss, drilled wide of deep cover for...",NaN,NaN
15197,219050,NaN,1359538,PBKS v DC,DC,PBKS,PBKS,2,20,4,...,NaN,NaN,NaN,NaN,NaN,NaN,False,he has missed out. Just overhits this one. A p...,<p>Free hit coming up. PBKS are still alive. T...,NaN
15198,219040,NaN,1359538,PBKS v DC,DC,PBKS,PBKS,2,20,4,...,NaN,NaN,NaN,NaN,NaN,NaN,False,"high full toss, drilled over wide long-off for...",<p>The only contest here is if Livingstone get...,NaN
15199,219060,NaN,1359538,PBKS v DC,DC,PBKS,PBKS,2,20,5,...,NaN,NaN,NaN,NaN,NaN,NaN,False,thick outside edge to a length ball. Wide of d...,<p>Surely it is game over now</p>,NaN
15200,219070,NaN,1359538,PBKS v DC,DC,PBKS,PBKS,2,20,6,...,403902.0,Liam Livingstone,Ishant Sharma,94.0,48.0,LS Livingstone c Patel b Sharma 94 (69m 48b 5x...,False,hit straight to long-off. Gone for 94,<p>Needs six for a hundred</p>,<p>That brings an end to tonight's presentatio...

In [23]:
# 1. Distribution of runs scored per over
# Grouping by 'over' and summing the runs in each over
runs_per_over = data.groupby('over')['runs'].sum()

In [25]:
runs_per_over

over
1     12293
2     14858
3     16392
4     17043
5     17161
6     17083
7     13726
8     14788
9     15327
10    15193
11    15451
12    15765
13    16016
14    16357
15    16841
16    17050
17    17639
18    18192
19    17615
20    14867
Name: runs, dtype: int64

In [27]:
# 2. Frequency of boundaries (4s and 6s)
# Filter dataset for boundaries and count each type (4s and 6s)
boundary_counts = data[data['isBoundary']].groupby('runs')['runs'].count()

In [29]:
boundary_counts

runs
4    27401
5      119
6    11589
7       77
Name: runs, dtype: int64

In [31]:
# 3. Dismissal Analysis: Count of dismissals and mean runs at dismissal
# Filter for rows with wicket information
dismissal_data = data.dropna(subset=['wicket_id'])
dismissal_count = dismissal_data.shape[0]
mean_runs_dismissal = dismissal_data['wkt_batsman_runs'].mean()

In [33]:
dismissal_count

11880

In [35]:
 mean_runs_dismissal

18.81540404040404

In [37]:
# 4. Top players based on batsman runs and bowler wickets
# Aggregating total runs for batsmen and total wickets for bowlers
top_batsmen = data.groupby('batsman1_name')['batsman1_runs'].sum().nlargest(5)
top_bowlers = data.groupby('bowler1_name')['bowler1_wkts'].sum().nlargest(5)

In [39]:
top_batsmen

batsman1_name
Virat Kohli       133423
David Warner      126924
Shikhar Dhawan    126135
Rohit Sharma       97967
Chris Gayle        94477
Name: batsman1_runs, dtype: int64

In [41]:
top_bowlers

bowler1_name
Yuzvendra Chahal       1966
Piyush Chawla          1960
Ravichandran Ashwin    1918
Amit Mishra            1875
Bhuvneshwar Kumar      1721
Name: bowler1_wkts, dtype: int64