<a href="https://colab.research.google.com/github/amalsalilan/IPL_Infographics_Data_Analytics_-_Data_Visualization_Infosys_Internship_Oct2024/blob/Nagira/1_Initial_Exploration_and_Statistics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#importing libraries
import pandas as pd
from google.colab import files

# Read the CSV file into a DataFrame
data = pd.read_csv("/content/sample_data/all_season_details.csv", low_memory=False)
ipl_df=data.copy()

In [ ]:
#gives rows*cols
ipl_df.shape

(242550, 45)

In [ ]:
#gives the First 2 rows #by default .head() gives first 5 rows
ipl_df.head(2)

,comment_id,season,match_id,match_name,home_team,away_team,current_innings,innings_id,over,ball,...,wicket_id,wkt_batsman_name,wkt_bowler_name,wkt_batsman_runs,wkt_batsman_balls,wkt_text,isRetiredHurt,text,preText,postText
0,110,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,False,"nice and full, angling and perhaps swinging in...",<p><strong>7.30pm</strong> Gaikwad and Conway ...,NaN
1,120,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,False,"Conway shuffles across off, and shimmies out a...",NaN,NaN

In [ ]:
#randomly print 5 rows
ipl_df.sample(5)

,comment_id,season,match_id,match_name,home_team,away_team,current_innings,innings_id,over,ball,...,wicket_id,wkt_batsman_name,wkt_bowler_name,wkt_batsman_runs,wkt_batsman_balls,wkt_text,isRetiredHurt,text,preText,postText
65309,28040,2019.0,1175360,DC v CSK,DC,CSK,CSK,2,9,4,...,NaN,NaN,NaN,NaN,NaN,NaN,False,keeps back to the very full delivery on middle...,NaN,NaN
120635,113020,2015.0,829705,KKR v MI,KKR,MI,MI,1,14,2,...,NaN,NaN,NaN,NaN,NaN,NaN,False,"length ball on the pads, worked away towards d...",NaN,NaN
64591,212040,2019.0,1175357,KKR v SRH,KKR,SRH,KKR,2,13,3,...,NaN,NaN,NaN,NaN,NaN,NaN,False,"pulled in front of square, and Vijay Shankar r...","<p>Muhammad Harris: ""Predict an easy win for t...",NaN
102665,112060,2017.0,1082634,SRH v RPS,SRH,RPS,RPS,1,13,6,...,NaN,NaN,NaN,NaN,NaN,NaN,False,"this is flighted at leg stump, he gives him th...",NaN,<p>The average run rate in the last ten overs ...
120980,211010,2015.0,829707,CSK v DC,CSK,DC,DC,2,12,1,...,NaN,NaN,NaN,NaN,NaN,NaN,False,"Morkel gives him the charge, Ashwin slows it d...",<p>Ashwin to continue. Wicketless so far</p>,NaN

In [ ]:
# gives statistical info of numerical numbery identify - could easily identify outliers
ipl_df.describe()

,comment_id,season,match_id,innings_id,over,ball,runs,batsman1_id,batsman1_runs,batsman1_balls,...,batsman2_runs,batsman2_balls,bowler2_id,bowler2_overs,bowler2_maidens,bowler2_runs,bowler2_wkts,wicket_id,wkt_batsman_runs,wkt_batsman_balls
count,242550.000000,242067.000000,2.425500e+05,242550.000000,242550.000000,242550.000000,242550.000000,2.425500e+05,242550.000000,242550.000000,...,242550.000000,242550.000000,2.297090e+05,229709.000000,229709.000000,229709.000000,229709.000000,1.188000e+04,11880.000000,11880.000000
mean,86415.531767,2015.588048,8.701769e+05,1.483245,10.161678,3.483875,1.317901,2.503057e+05,18.047631,14.119819,...,16.551618,13.219233,3.151650e+05,2.198914,0.024483,16.235019,0.551868,2.635273e+05,18.815404,15.311869
std,79516.360959,4.639506,3.530671e+05,0.499720,5.658053,1.707451,1.612821,2.968806e+05,18.341545,11.905881,...,17.771899,11.892068,3.222056e+05,1.046243,0.155527,10.171336,0.773715,3.039915e+05,19.542348,12.695239
min,110.000000,2008.000000,3.359820e+05,1.000000,1.000000,1.000000,0.000000,4.292000e+03,0.000000,0.000000,...,0.000000,0.000000,4.508000e+03,0.100000,0.000000,0.000000,0.000000,4.292000e+03,0.000000,0.000000
25%,18040.000000,2012.000000,5.483150e+05,1.000000,5.000000,2.000000,0.000000,3.296600e+04,4.000000,5.000000,...,3.000000,4.000000,3.333500e+04,1.000000,0.000000,8.000000,0.000000,3.314100e+04,4.000000,5.000000
50%,29010.000000,2015.000000,8.298190e+05,1.000000,10.000000,3.000000,1.000000,5.291200e+04,12.000000,11.000000,...,11.000000,10.000000,2.655640e+05,2.000000,0.000000,14.000000,0.000000,2.118540e+05,12.000000,12.000000
75%,118060.000000,2020.000000,1.216506e+06,2.000000,15.000000,5.000000,1.000000,3.791430e+05,27.000000,20.000000,...,25.000000,20.000000,4.752810e+05,3.000000,0.000000,23.000000,1.000000,3.984390e+05,28.000000,22.000000
max,219080.000000,2023.000000,1.370353e+06,2.000000,20.000000,7.000000,7.000000,1.349361e+06,174.000000,73.000000,...,174.000000,73.000000,1.350792e+06,4.000000,2.000000,70.000000,5.000000,1.312645e+06,129.000000,69.000000

In [ ]:
# gives data type and non-null values
ipl_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242550 entries, 0 to 242549
Data columns (total 45 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   comment_id         242550 non-null  int64
 1   season             242067 non-null  float64
 2   match_id           242550 non-null  int64
 3   match_name         242550 non-null  object
 4   home_team          242550 non-null  object
 5   away_team          242550 non-null  object
 6   current_innings    242550 non-null  object
 7   innings_id         242550 non-null  int64
 8   over               242550 non-null  int64
 9   ball               242550 non-null  int64
 10  runs               242550 non-null  int64
 11  shortText          242550 non-null  object
 12  isBoundary         242550 non-null  bool
 13  isWide             242550 non-null  bool
 14  isNoball           242550 non-null  bool
 15  batsman1_id        242550 non-null  int64
 16  batsman1_name      242550 non-null  object
 17  batsman1_runs      242550 non-null  int64
 18  batsman1_balls     242550 non-null  int64
 19  bowler1_id         242550 non-null  int64
 20  bowler1_name       242550 non-null  object
 21  bowler1_overs      242550 non-null  float64
 22  bowler1_maidens    242550 non-null  int64
 23  bowler1_runs       242550 non-null  int64
 24  bowler1_wkts       242550 non-null  int64
 25  batsman2_id        242550 non-null  object
 26  batsman2_name      242548 non-null  object
 27  batsman2_runs      242550 non-null  int64
 28  batsman2_balls     242550 non-null  int64
 29  bowler2_id         229709 non-null  float64
 30  bowler2_name       229709 non-null  object
 31  bowler2_overs      229709 non-null  float64
 32  bowler2_maidens    229709 non-null  float64
 33  bowler2_runs       229709 non-null  float64
 34  bowler2_wkts       229709 non-null  float64
 35  wicket_id          11880 non-null   float64
 36  wkt_batsman_name   11880 non-null   object
 37  wkt_bowler_name    11880 non-null   object
 38  wkt_batsman_runs   11880 non-null   float64
 39  wkt_batsman_balls  11880 non-null   float64
 40  wkt_text           11880 non-null   object
 41  isRetiredHurt      242550 non-null  bool
 42  text               241178 non-null  object
 43  preText            46275 non-null   object
 44  postText           19694 non-null   object
dtypes: bool(4), float64(10), int64(15), object(16)
memory usage: 76.8+ MB

In [ ]:
# dropped unneccessary cols
ipl_df = ipl_df.drop(['comment_id', 'shortText', 'text', 'preText', 'postText'], axis=1)

In [ ]:
# gives number of null values in each cols
ipl_df.isnull().sum()

season                  483
match_id                  0
match_name                0
home_team                 0
away_team                 0
current_innings           0
innings_id                0
over                      0
ball                      0
runs                      0
isBoundary                0
isWide                    0
isNoball                  0
batsman1_id               0
batsman1_name             0
batsman1_runs             0
batsman1_balls            0
bowler1_id                0
bowler1_name              0
bowler1_overs             0
bowler1_maidens           0
bowler1_runs              0
bowler1_wkts              0
batsman2_id               0
batsman2_name             2
batsman2_runs             0
batsman2_balls            0
bowler2_id            12841
bowler2_name          12841
bowler2_overs         12841
bowler2_maidens       12841
bowler2_runs          12841
bowler2_wkts          12841
wicket_id            230670
wkt_batsman_name     230670
wkt_bowler_name      230670
wkt_batsman_runs     230670
wkt_batsman_balls    230670
wkt_text             230670
isRetiredHurt             0
dtype: int64

In [ ]:
# Identify match_ids with missing season values that couldn't be filled
missing_season_match_ids = ipl_df[ipl_df['season'].isnull()]['match_id'].unique()
missing_season_match_ids

array([1359496, 1359538])

In [ ]:
# fill match_id 1359496, 1359538 with season 2023
ipl_df.loc[ipl_df['match_id'] == 1359496, 'season'] = 2023
ipl_df.loc[ipl_df['match_id'] == 1359538, 'season'] = 2023

In [ ]:
# make sure season has no null values
ipl_df['season'].isnull().sum()

0

In [ ]:
# Check the percentage of missing values in each column
missing_values = ipl_df.isnull().sum() / len(ipl_df) * 100
missing_values[missing_values > 0].sort_values(ascending=False)

wicket_id            95.102041
wkt_batsman_name     95.102041
wkt_bowler_name      95.102041
wkt_batsman_runs     95.102041
wkt_batsman_balls    95.102041
wkt_text             95.102041
bowler2_id            5.294166
bowler2_name          5.294166
bowler2_overs         5.294166
bowler2_maidens       5.294166
bowler2_runs          5.294166
bowler2_wkts          5.294166
batsman2_name         0.000825
dtype: float64

In [ ]:
#print the 2nd row and take all cols
ipl_df.iloc[2]

season                        2023.0
match_id                     1359475
match_name                  GT v CSK
home_team                         GT
away_team                        CSK
current_innings                  CSK
innings_id                         1
over                               1
ball                               3
runs                               0
isBoundary                     False
isWide                         False
isNoball                       False
batsman1_id                  1060380
batsman1_name        Ruturaj Gaikwad
batsman1_runs                      0
batsman1_balls                     1
bowler1_id                    481896
bowler1_name          Mohammed Shami
bowler1_overs                    0.3
bowler1_maidens                    0
bowler1_runs                       0
bowler1_wkts                       0
batsman2_id                   379140
batsman2_name           Devon Conway
batsman2_runs                      0
batsman2_balls                     2
bowler2_id                       NaN
bowler2_name                     NaN
bowler2_overs                    NaN
bowler2_maidens                  NaN
bowler2_runs                     NaN
bowler2_wkts                     NaN
wicket_id                        NaN
wkt_batsman_name                 NaN
wkt_bowler_name                  NaN
wkt_batsman_runs                 NaN
wkt_batsman_balls                NaN
wkt_text                         NaN
isRetiredHurt                  False
Name: 2, dtype: object

In [ ]:
#Range - take 2,3,4th row and take all cols
ipl_df.iloc[2:5]

,season,match_id,match_name,home_team,away_team,current_innings,innings_id,over,ball,runs,...,bowler2_maidens,bowler2_runs,bowler2_wkts,wicket_id,wkt_batsman_name,wkt_bowler_name,wkt_batsman_runs,wkt_batsman_balls,wkt_text,isRetiredHurt
2,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,4,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
4,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,5,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False

In [ ]:
# Range: rows-> 2nd to 4th; cols->0 to 2nd
ipl_df.iloc[2:5, 0:3]

   season  match_id match_name
2  2023.0   1359475   GT v CSK
3  2023.0   1359475   GT v CSK
4  2023.0   1359475   GT v CSK

In [ ]:
# 6th row 9th col - runs
ipl_df.iloc[5,8]

6

# Type Conversion

In [ ]:
ipl_df['season'] = ipl_df['season'].astype(int)  # object to int
ipl_df['isWide'] = ipl_df['isWide'].astype(bool)  # object to bool
ipl_df['isNoball'] = ipl_df['isNoball'].astype(bool) # object to bool
ipl_df['batsman1_runs'] = ipl_df['batsman1_runs'].astype(int)  # float to int
ipl_df['batsman1_balls'] = ipl_df['batsman1_balls'].astype(int)
ipl_df['bowler1_runs'] = ipl_df['bowler1_runs'].astype(int)
ipl_df['bowler1_wkts'] = ipl_df['bowler1_wkts'].astype(int)
ipl_df['bowler1_maidens'] = ipl_df['bowler1_maidens'].astype(int)

In [ ]:
year_seasons=ipl_df['season'].unique()
print(f"Year of seasons: {year_seasons}")
print(f"Total number of seasons:{len(year_seasons)}")

Year of seasons: [2023 2022 2021 2020 2019 2018 2017 2016 2015 2014 2013 2012 2011 2010
 2009 2008]
Total number of seasons:16

In [ ]:
# Count the number of unique matches in each season
matches_per_season = ipl_df.groupby('season')['match_id'].nunique()

# Display the result without headers
print(f"Season Matches \n{matches_per_season.to_string(header=False, name=False)}")

Season Matches
2008    58
2009    57
2010    60
2011    73
2012    74
2013    76
2014    60
2015    59
2016    60
2017    59
2018    60
2019    60
2020    60
2021    60
2022    74
2023    73

In [ ]:
# make sure all fields has converted to proper dtype
ipl_df.dtypes

season                 int64
match_id               int64
match_name            object
home_team             object
away_team             object
current_innings       object
innings_id             int64
over                   int64
ball                   int64
runs                   int64
isBoundary              bool
isWide                  bool
isNoball                bool
batsman1_id            int64
batsman1_name         object
batsman1_runs          int64
batsman1_balls         int64
bowler1_id             int64
bowler1_name          object
bowler1_overs        float64
bowler1_maidens        int64
bowler1_runs           int64
bowler1_wkts           int64
batsman2_id           object
batsman2_name         object
batsman2_runs          int64
batsman2_balls         int64
bowler2_id           float64
bowler2_name          object
bowler2_overs        float64
bowler2_maidens      float64
bowler2_runs         float64
bowler2_wkts         float64
wicket_id            float64
wkt_batsman_name      object
wkt_bowler_name       object
wkt_batsman_runs     float64
wkt_batsman_balls    float64
wkt_text              object
isRetiredHurt           bool
dtype: object

In [ ]:
#unique team names
unique_innings=ipl_df['current_innings'].unique()
print(f"IPL teams: {unique_innings}")

IPL teams: ['CSK' 'GT' 'PBKS' 'KKR' 'LSG' 'DC' 'RR' 'SRH' 'MI' 'RCB' 'RPS' 'GL' 'PWI'
 'Kochi']

In [ ]:
# Replace 'KXIP' with 'PBKS' in specified columns
ipl_df[['home_team', 'away_team', 'current_innings']] = ipl_df[['home_team', 'away_team', 'current_innings']].replace('KXIP', 'PBKS')

In [ ]:
#Number of matches played by PBKS in the name of KXIP
#count = sum(1 for i in ipl_df['current_innings'] if i == 'KXIP')
#print(count)
print((ipl_df['current_innings']=='KIXP').sum())

0

In [ ]:
def get_team_name(abbreviation):
    team_mapping = {
        'CSK': 'Chennai Super Kings',
        'GT': 'Gujarat Titans',
        'PBKS': 'Punjab Kings',
        'KKR': 'Kolkata Knight Riders',
        'LSG': 'Lucknow Super Giants',
        'DC': 'Delhi Capitals',
        'RR': 'Rajasthan Royals',
        'SRH': 'Sunrisers Hyderabad',
        'MI': 'Mumbai Indians',
        'RCB': 'Royal Challengers Bangalore',
        'RPS': 'Rising Pune Supergiant',
        'GL': 'Gujarat Lions',
        'PWI': 'Pune Warriors India',
        'Kochi': 'Kochi Tuskers Kerala'
    }
    return team_mapping.get(abbreviation, "Unknown Team")

# Example usage
print(get_team_name('CSK'))
print(get_team_name('KKR'))

Chennai Super Kings
Kolkata Knight Riders

In [ ]:
# ensure no repeatition of team names
ipl_df['home_team'].unique()

array(['GT', 'PBKS', 'LSG', 'SRH', 'RCB', 'CSK', 'DC', 'RR', 'KKR', 'MI',
       'RPS', 'GL', 'PWI', 'Kochi'], dtype=object)

In [ ]:
unique_batsman1_ids = ipl_df['batsman1_id'].nunique()
print(f"Number of unique batsmans: {unique_batsman1_ids}")

Number of unique batsmans: 635

In [ ]:
# Total runs scored for each season
grouped_df = ipl_df.groupby('season')['runs'].agg(['sum'])

# Display the grouped DataFrame
print(f"Season: Total runs\n {grouped_df.to_string(header=False)}")

Season: Total runs
 season
2008    17875
2009    16243
2010    18726
2011    21087
2012    22357
2013    22463
2014    18827
2015    18211
2016    18798
2017    18698
2018    19781
2019    19343
2020    19244
2021    18508
2022    24184
2023    25312

In [ ]:
#Finding outlier by runs =7
count_7_runs = ipl_df[ipl_df['runs'] == 7]['batsman1_name'].value_counts().sort_values(ascending=False)

for player, occurrence in count_7_runs.items():
    print(f"{player}: {occurrence}")

Chris Gayle: 5
David Warner: 3
MS Dhoni: 3
Rohit Sharma: 3
AB de Villiers: 3
Kieron Pollard: 3
Rinku Singh: 2
Ambati Rayudu: 2
Brendon McCullum: 2
Steven Smith: 2
Jofra Archer: 2
Jos Buttler: 2
Nitish Rana: 1
Axar Patel: 1
Jitesh Sharma: 1
Kyle Mayers: 1
Yashasvi Jaiswal: 1
Suryakumar Yadav: 1
Sai Sudharsan: 1
Liam Livingstone: 1
Cameron Green: 1
Quinton de Kock: 1
Aaron Finch: 1
Lalit Yadav: 1
Sam Billings: 1
Manish Pandey: 1
Ravindra Jadeja: 1
Colin de Grandhomme: 1
Rishabh Pant: 1
Chris Lynn: 1
Andre Russell: 1
Umran Malik: 1
Dwayne Bravo: 1
Rahmanullah Gurbaz: 1
Virender Sehwag: 1
David Miller: 1
Mohammad Nabi: 1
Shikhar Dhawan: 1
Chris Morris: 1
Virat Kohli: 1
Shaun Marsh: 1
Naman Ojha: 1
Venkatesh Iyer: 1
Kumar Sangakkara: 1
Gautam Gambhir: 1
Ashok Menaria: 1
VVS Laxman: 1
Daniel Christian: 1
Suresh Raina: 1
Sourav Ganguly: 1
Mark Boucher: 1
Ross Taylor: 1
Chaminda Vaas: 1
Sanath Jayasuriya: 1
Siddharth Chitnis: 1
Martin Guptill: 1
Albie Morkel: 1

In [ ]:
print(f"Rohit Sharma's ID: {ipl_df.loc[ipl_df['batsman1_name'] == 'Rohit Sharma', 'batsman1_id'].iat[0]}")

Rohit Sharma's ID: 34102

In [ ]:
ipl_df.loc[(ipl_df.home_team=="CSK") & (ipl_df.season>=2020)]

,season,match_id,match_name,home_team,away_team,current_innings,innings_id,over,ball,runs,...,bowler2_maidens,bowler2_runs,bowler2_wkts,wicket_id,wkt_batsman_name,wkt_bowler_name,wkt_batsman_runs,wkt_batsman_balls,wkt_text,isRetiredHurt
1189,2023,1359480,CSK v LSG,CSK,LSG,CSK,1,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
1190,2023,1359480,CSK v LSG,CSK,LSG,CSK,1,1,2,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
1191,2023,1359480,CSK v LSG,CSK,LSG,CSK,1,1,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
1192,2023,1359480,CSK v LSG,CSK,LSG,CSK,1,1,3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
1193,2023,1359480,CSK v LSG,CSK,LSG,CSK,1,1,4,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62484,2020,1216506,CSK v KXIP,CSK,PBKS,CSK,2,19,1,1,...,0.0,29.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False
62485,2020,1216506,CSK v KXIP,CSK,PBKS,CSK,2,19,2,1,...,0.0,29.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False
62486,2020,1216506,CSK v KXIP,CSK,PBKS,CSK,2,19,3,1,...,0.0,29.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False
62487,2020,1216506,CSK v KXIP,CSK,PBKS,CSK,2,19,4,1,...,0.0,29.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False
62488,2020,1216506,CSK v KXIP,CSK,PBKS,CSK,2,19,5,1,...,0.0,29.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False

In [ ]:
ipl_df.loc[(ipl_df.home_team=="MI") | (ipl_df.home_team=="RCB")]

,season,match_id,match_name,home_team,away_team,current_innings,innings_id,over,ball,runs,...,bowler2_maidens,bowler2_runs,bowler2_wkts,wicket_id,wkt_batsman_name,wkt_bowler_name,wkt_batsman_runs,wkt_batsman_balls,wkt_text,isRetiredHurt
962,2023,1359479,RCB v MI,RCB,MI,MI,1,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
963,2023,1359479,RCB v MI,RCB,MI,MI,1,1,2,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
964,2023,1359479,RCB v MI,RCB,MI,MI,1,1,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
965,2023,1359479,RCB v MI,RCB,MI,MI,1,1,4,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
966,2023,1359479,RCB v MI,RCB,MI,MI,1,1,5,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241613,2008,336012,RCB v MI,RCB,MI,MI,2,16,2,1,...,0.0,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False
241614,2008,336012,RCB v MI,RCB,MI,MI,2,16,3,0,...,0.0,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False
241615,2008,336012,RCB v MI,RCB,MI,MI,2,16,4,0,...,0.0,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False
241616,2008,336012,RCB v MI,RCB,MI,MI,2,16,5,4,...,0.0,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False
241617,2008,336012,RCB v MI,RCB,MI,MI,2,16,6,4,...,0.0,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False

In [ ]:
print(f"Minimum run: {ipl_df.runs.min()}")
print(f"Maximum run: {ipl_df.runs.max()}")
print(f"Mean run: {ipl_df.runs.mean():.2f}")
print(f"Median run: {ipl_df.runs.median()}")

Minimum run: 0
Maximum run: 7
Mean run: 1.32
Median run: 1.0

In [ ]:

ipl_df.to_csv('updated_all_season_details.csv', index=False)  # index=False prevents writing row indices