In [3]:
import pandas as pd
import numpy as np 
import warnings

In [5]:
df= pd.read_csv('all_season_details.csv')
warnings.filterwarnings('ignore')

df

C:\Users\govinda prasad\AppData\Local\Temp\ipykernel_24652\762882638.py:1: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv('all_season_details.csv')

,comment_id,season,match_id,match_name,home_team,away_team,current_innings,innings_id,over,ball,...,wicket_id,wkt_batsman_name,wkt_bowler_name,wkt_batsman_runs,wkt_batsman_balls,wkt_text,isRetiredHurt,text,preText,postText
0,110,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,False,"nice and full, angling and perhaps swinging in...",<p><strong>7.30pm</strong> Gaikwad and Conway ...,NaN
1,120,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,False,"Conway shuffles across off, and shimmies out a...",NaN,NaN
2,130,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,False,"good length, angling in at off and then straig...",NaN,NaN
3,140,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,4,...,NaN,NaN,NaN,NaN,NaN,NaN,False,"shorter and slanting into middle and leg, Gaik...","<p>Rummy: ""Fast bowling options for CSK defini...",NaN
4,150,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,5,...,NaN,NaN,NaN,NaN,NaN,NaN,False,Shami hits a heavy length and brings this back...,"<p>LG: ""Watching out for Hangargekar. He was i...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242545,219020,2008.0,336040,CSK v RR,CSK,RR,RR,2,20,2,...,NaN,NaN,NaN,NaN,NaN,NaN,False,lovely! Balaji's bowled a yorker outside off s...,NaN,NaN
242546,219030,2008.0,336040,CSK v RR,CSK,RR,RR,2,20,3,...,NaN,NaN,NaN,NaN,NaN,NaN,False,Warne steps down the track and throws his bat ...,NaN,<p>6 off 3 balls.</p>
242547,219050,2008.0,336040,CSK v RR,CSK,RR,RR,2,20,4,...,NaN,NaN,NaN,NaN,NaN,NaN,False,Warne reaches out for a full ball and squeezes...,NaN,<p>Three to win off two balls.</p>
242548,219040,2008.0,336040,CSK v RR,CSK,RR,RR,2,20,4,...,NaN,NaN,NaN,NaN,NaN,NaN,False,what has he done! Balaji has bowled a wide out...,<p>Rajasthan need two runs a ball. Balaji from...,NaN
242549,219060,2008.0,336040,CSK v RR,CSK,RR,RR,2,20,5,...,NaN,NaN,NaN,NaN,NaN,NaN,False,Balaji bowls a full toss angling into the left...,NaN,<p>Rajasthan need one off the final ball.</p>

In [6]:
df.loc[(df['match_id'].isin([1359496,1359538])) & (df['season'].isnull()), 'season'] = 2023

In [7]:
df.season.min()

np.float64(2008.0)

In [8]:
df.season.max()

np.float64(2023.0)

In [9]:
df.over.max()

np.int64(20)

In [10]:
df.over.min()

np.int64(1)

In [21]:
df.batsman1_runs.max()

np.int64(174)

In [23]:
df.batsman1_balls.max()

np.int64(73)

In [25]:
df.bowler1_runs.max()

np.int64(70)

In [27]:
df.bowler2_maidens.max()

np.float64(2.0)

In [39]:
df.batsman1_name.value_counts()

batsman1_name
Virat Kohli              5726
Shikhar Dhawan           5353
Rohit Sharma             4880
David Warner             4713
Suresh Raina             4170
                         ...
Uday Kaul                   1
Joe Denly                   1
Sandeep Lamichhane          1
Paidikalva Vijaykumar       1
Abdul Basith                1
Name: count, Length: 637, dtype: int64

In [41]:
df.groupby(['season'])['match_id'].nunique().sort_values(ascending=False).reset_index()

    season  match_id
0   2013.0        76
1   2012.0        74
2   2022.0        74
3   2011.0        73
4   2023.0        73
5   2016.0        60
6   2014.0        60
7   2010.0        60
8   2021.0        60
9   2019.0        60
10  2020.0        60
11  2018.0        60
12  2015.0        59
13  2017.0        59
14  2008.0        58
15  2009.0        57

In [43]:
df.groupby(['season'])['runs'].sum().sort_values(ascending=False).reset_index()

    season   runs
0   2023.0  25312
1   2022.0  24184
2   2013.0  22463
3   2012.0  22357
4   2011.0  21087
5   2018.0  19781
6   2019.0  19343
7   2020.0  19244
8   2014.0  18827
9   2016.0  18798
10  2010.0  18726
11  2017.0  18698
12  2021.0  18508
13  2015.0  18211
14  2008.0  17875
15  2009.0  16243

In [45]:
 df.groupby(['season'])['wicket_id'].count().sort_values(ascending=False).reset_index()

    season  wicket_id
0   2013.0        903
1   2023.0        890
2   2022.0        887
3   2012.0        850
4   2011.0        804
5   2018.0        715
6   2021.0        708
7   2010.0        708
8   2017.0        705
9   2009.0        687
10  2008.0        683
11  2015.0        677
12  2019.0        675
13  2014.0        664
14  2016.0        663
15  2020.0        661