<a href="https://colab.research.google.com/github/amalsalilan/IPL_Infographics_Data_Analytics_-_Data_Visualization_Infosys_Internship_Oct2024/blob/Nagira/Initial_Exploration_and_Statistics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from google.colab import files
import matplotlib.pyplot as plt
import seaborn as sns

# Read the CSV file into a DataFrame
data = pd.read_csv("/content/sample_data/all_season_details.csv")

<ipython-input-92-039ee5a75302>:7: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("/content/sample_data/all_season_details.csv")

In [ ]:
ipl_df=data.copy()

In [ ]:
ipl_df.shape

(242550, 45)

In [ ]:
ipl_df.sample(5)

,comment_id,season,match_id,match_name,home_team,away_team,current_innings,innings_id,over,ball,...,wicket_id,wkt_batsman_name,wkt_bowler_name,wkt_batsman_runs,wkt_batsman_balls,wkt_text,isRetiredHurt,text,preText,postText
227931,14030,2009.0,392235,DC v MI,DC,MI,MI,1,5,2,...,NaN,NaN,NaN,NaN,NaN,NaN,False,"finds the length and line, not drivable, on of...",NaN,NaN
143503,24010,2014.0,734009,KKR v MI,KKR,MI,KKR,2,5,1,...,NaN,NaN,NaN,NaN,NaN,NaN,False,"flatter delivery, the batsman has to change to...",<p>Ojha now.</p>,NaN
78937,11040,2018.0,1136563,KKR v RCB,KKR,RCB,RCB,1,2,4,...,379143.0,Quinton de Kock,Piyush Chawla,4.0,4.0,Q de Kock c Vinay Kumar b Chawla 4 (4b 1x4 0x6...,False,taken at short third man! Another indicator th...,NaN,NaN
51112,23060,2020.0,1216510,KXIP v RCB,KXIP,RCB,RCB,2,4,6,...,NaN,NaN,NaN,NaN,NaN,NaN,False,good length and honing in at middle stump. For...,NaN,NaN
189017,23040,2011.0,501219,KKR v Kochi,KKR,Kochi,KKR,2,4,4,...,NaN,NaN,NaN,NaN,NaN,NaN,False,Gambhir works the ball off his hips behind square,<p>Gambhir is the new batsman. We might have a...,NaN

In [ ]:
ipl_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242550 entries, 0 to 242549
Data columns (total 45 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   comment_id         242550 non-null  int64
 1   season             242067 non-null  float64
 2   match_id           242550 non-null  int64
 3   match_name         242550 non-null  object
 4   home_team          242550 non-null  object
 5   away_team          242550 non-null  object
 6   current_innings    242550 non-null  object
 7   innings_id         242550 non-null  int64
 8   over               242550 non-null  int64
 9   ball               242550 non-null  int64
 10  runs               242550 non-null  int64
 11  shortText          242550 non-null  object
 12  isBoundary         242550 non-null  bool
 13  isWide             242550 non-null  bool
 14  isNoball           242550 non-null  bool
 15  batsman1_id        242550 non-null  int64
 16  batsman1_name      242550 non-null  object
 17  batsman1_runs      242550 non-null  int64
 18  batsman1_balls     242550 non-null  int64
 19  bowler1_id         242550 non-null  int64
 20  bowler1_name       242550 non-null  object
 21  bowler1_overs      242550 non-null  float64
 22  bowler1_maidens    242550 non-null  int64
 23  bowler1_runs       242550 non-null  int64
 24  bowler1_wkts       242550 non-null  int64
 25  batsman2_id        242550 non-null  object
 26  batsman2_name      242548 non-null  object
 27  batsman2_runs      242550 non-null  int64
 28  batsman2_balls     242550 non-null  int64
 29  bowler2_id         229709 non-null  float64
 30  bowler2_name       229709 non-null  object
 31  bowler2_overs      229709 non-null  float64
 32  bowler2_maidens    229709 non-null  float64
 33  bowler2_runs       229709 non-null  float64
 34  bowler2_wkts       229709 non-null  float64
 35  wicket_id          11880 non-null   float64
 36  wkt_batsman_name   11880 non-null   object
 37  wkt_bowler_name    11880 non-null   object
 38  wkt_batsman_runs   11880 non-null   float64
 39  wkt_batsman_balls  11880 non-null   float64
 40  wkt_text           11880 non-null   object
 41  isRetiredHurt      242550 non-null  bool
 42  text               241178 non-null  object
 43  preText            46275 non-null   object
 44  postText           19694 non-null   object
dtypes: bool(4), float64(10), int64(15), object(16)
memory usage: 76.8+ MB

In [ ]:
ipl_df = ipl_df.drop(['text', 'preText', 'postText'], axis=1)

In [ ]:
ipl_df['current_innings'].unique()

array(['CSK', 'GT', 'PBKS', 'KKR', 'LSG', 'DC', 'RR', 'SRH', 'MI', 'RCB',
       'KXIP', 'RPS', 'GL', 'PWI', 'Kochi'], dtype=object)

In [ ]:
ipl_df.iloc[[2,5],3]

2    GT v CSK
5    GT v CSK
Name: match_name, dtype: object

In [ ]:
ipl_df.iloc[2:5,3]

2    GT v CSK
3    GT v CSK
4    GT v CSK
Name: match_name, dtype: object

In [ ]:
ipl_df.iloc[[2,5],3]

In [ ]:
ipl_df.isnull().sum()

comment_id                0
season                  483
match_id                  0
match_name                0
home_team                 0
away_team                 0
current_innings           0
innings_id                0
over                      0
ball                      0
runs                      0
shortText                 0
isBoundary                0
isWide                    0
isNoball                  0
batsman1_id               0
batsman1_name             0
batsman1_runs             0
batsman1_balls            0
bowler1_id                0
bowler1_name              0
bowler1_overs             0
bowler1_maidens           0
bowler1_runs              0
bowler1_wkts              0
batsman2_id               0
batsman2_name             2
batsman2_runs             0
batsman2_balls            0
bowler2_id            12841
bowler2_name          12841
bowler2_overs         12841
bowler2_maidens       12841
bowler2_runs          12841
bowler2_wkts          12841
wicket_id            230670
wkt_batsman_name     230670
wkt_bowler_name      230670
wkt_batsman_runs     230670
wkt_batsman_balls    230670
wkt_text             230670
isRetiredHurt             0
dtype: int64

In [ ]:
# Check the percentage of missing values in each column
missing_values = ipl_df.isnull().sum() / len(ipl_df) * 100
missing_values[missing_values > 0].sort_values(ascending=False)

wicket_id            95.102041
wkt_batsman_name     95.102041
wkt_bowler_name      95.102041
wkt_batsman_runs     95.102041
wkt_batsman_balls    95.102041
wkt_text             95.102041
bowler2_id            5.294166
bowler2_name          5.294166
bowler2_overs         5.294166
bowler2_maidens       5.294166
bowler2_runs          5.294166
bowler2_wkts          5.294166
season                0.199134
batsman2_name         0.000825
dtype: float64

In [ ]:
# Display match_id for rows where 'season' is null
missing_season_matches = ipl_df[ipl_df['season'].isnull()]['match_id']

# Print match_id of rows with missing season values
print("Match IDs with missing season values:")
print(missing_season_matches.tolist())

Match IDs with missing season values:
[1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359496, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538, 1359538]

In [ ]:
# Identify match_ids with missing season values that couldn't be filled
missing_season_match_ids = ipl_df[ipl_df['season'].isnull()]['match_id'].unique()
missing_season_match_ids

array([1359496, 1359538])

In [ ]:
# fill match_id 1359496, 1359538 with season 2023
ipl_df.loc[ipl_df['match_id'] == 1359496, 'season'] = 2023
ipl_df.loc[ipl_df['match_id'] == 1359538, 'season'] = 2023

In [ ]:
ipl_df['season'].isnull().sum()

0

In [ ]:
# Find duplicate rows based on all columns
dupes=ipl_df.duplicated().sum()
print("Before removing dupes",dupes)


# Remove duplicate rows
ipl_df = ipl_df.drop_duplicates()
dupes=ipl_df.duplicated().sum()
print("After removing dupes",dupes)

Before removing dupes 1
After removing dupes 0

In [ ]:
#match between Virat Kohli as bats_man and Axar Patel as bowler
ipl_df.loc[(ipl_df['batsman1_name'] == 'Virat Kohli') & (ipl_df['bowler1_name'] == "Axar Patel")]

,comment_id,season,match_id,match_name,home_team,away_team,current_innings,innings_id,over,ball,...,bowler2_maidens,bowler2_runs,bowler2_wkts,wicket_id,wkt_batsman_name,wkt_bowler_name,wkt_batsman_runs,wkt_batsman_balls,wkt_text,isRetiredHurt
4594,11020,2023.0,1359494,RCB v DC,RCB,DC,RCB,1,2,2,...,0.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False
4595,11030,2023.0,1359494,RCB v DC,RCB,DC,RCB,1,2,3,...,0.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False
4596,11040,2023.0,1359494,RCB v DC,RCB,DC,RCB,1,2,4,...,0.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False
4605,13010,2023.0,1359494,RCB v DC,RCB,DC,RCB,1,4,1,...,0.0,10.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False
11632,11010,2023.0,1359524,DC v RCB,DC,RCB,RCB,1,2,1,...,0.0,7.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129494,18030,2015.0,829785,RCB v KXIP,RCB,KXIP,RCB,1,9,3,...,0.0,8.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False
129495,18040,2015.0,829785,RCB v KXIP,RCB,KXIP,RCB,1,9,4,...,0.0,8.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False
129497,18060,2015.0,829785,RCB v KXIP,RCB,KXIP,RCB,1,9,6,...,0.0,8.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False
129509,110050,2015.0,829785,RCB v KXIP,RCB,KXIP,RCB,1,11,4,...,0.0,23.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False
129510,110060,2015.0,829785,RCB v KXIP,RCB,KXIP,RCB,1,11,5,...,0.0,23.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False

In [ ]:
# Group the data by 'season' and calculate the sum and mean of scores (or runs) for each season
grouped_df = ipl_df.groupby('season')['runs'].agg(['sum', 'mean'])

# Display the grouped DataFrame
grouped_df

          sum      mean
season
2008.0  17875  1.329293
2009.0  16243  1.200429
2010.0  18726  1.299604
2011.0  21087  1.243044
2012.0  22357  1.261753
2013.0  22463  1.240022
2014.0  18827  1.321657
2015.0  18211  1.342499
2016.0  18798  1.336034
2017.0  18698  1.353848
2018.0  19781  1.390091
2019.0  19343  1.355976
2020.0  19244  1.331857
2021.0  18508  1.289756
2022.0  24184  1.361099
2023.0  25312  1.437202

In [ ]:
#match Count
match_count = ipl_df.groupby('season')['match_id'].count()
match_count

season
2008.0    13447
2009.0    13531
2010.0    14409
2011.0    16964
2012.0    17719
2013.0    18115
2014.0    14245
2015.0    13565
2016.0    14070
2017.0    13811
2018.0    14230
2019.0    14265
2020.0    14449
2021.0    14350
2022.0    17768
2023.0    17612
Name: match_id, dtype: int64

In [ ]:
#total score of each season
ipl_df['total_score'] = ipl_df.groupby('season')['runs'].transform('sum')
ipl_df.sample(20)

,comment_id,season,match_id,match_name,home_team,away_team,current_innings,innings_id,over,ball,...,bowler2_runs,bowler2_wkts,wicket_id,wkt_batsman_name,wkt_bowler_name,wkt_batsman_runs,wkt_batsman_balls,wkt_text,isRetiredHurt,total_score
192582,114050,2011.0,501234,KKR v KXIP,KKR,KXIP,KXIP,1,15,5,...,11.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False,21087
161629,117020,2013.0,598053,PWI v KKR,PWI,KKR,KKR,1,18,2,...,31.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False,22463
67009,25010,2019.0,1175367,CSK v RR,CSK,RR,RR,2,6,1,...,10.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,False,19343
25813,217040,2022.0,1304080,DC v RR,DC,RR,DC,2,18,4,...,28.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,False,24184
170666,214040,2012.0,548324,RCB v RR,RCB,RR,RCB,2,15,4,...,18.0,0.0,38710.0,Daniel Vettori,Siddharth Trivedi,1.0,2.0,DL Vettori b Trivedi 1 (2m 2b 0x4 0x6) SR: 50.00,False,22357
209162,14060,2010.0,419139,KKR v KXIP,KKR,KXIP,KKR,1,5,6,...,6.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False,18726
167616,14030,2012.0,548311,DC v CSK,SRH,CSK,CSK,1,5,3,...,12.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False,22357
218614,21060,2009.0,392196,CSK v DC,CSK,SRH,DC,2,2,5,...,11.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False,16243
99610,15040,2017.0,1082621,RCB v GL,RCB,GL,RCB,1,6,4,...,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,False,18698
144862,15040,2014.0,734021,SRH v RCB,SRH,RCB,RCB,1,6,4,...,3.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False,18827
105,117030,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,18,3,...,26.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,False,25312
172817,213020,2012.0,548333,DC v PWI,DC,PWI,DC,2,14,2,...,19.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,False,22357
92436,110,2018.0,1136620,CSK v SRH,CSK,SRH,SRH,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,19781
164328,22050,2013.0,598028,KXIP v DC,KXIP,DC,DC,2,3,5,...,4.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False,22463
179000,115030,2012.0,548329,SRH v DC,SRH,DC,DC,1,16,3,...,39.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False,22357
165766,14010,2013.0,598071,RR v SRH,RR,SRH,SRH,1,5,1,...,7.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False,22463
133585,212030,2015.0,829819,RR v RCB,RR,RCB,RR,2,13,3,...,24.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,False,18211
219923,218060,2009.0,392201,SRH v DC,SRH,DC,DC,2,19,4,...,24.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,False,16243
242277,211010,2008.0,336039,CSK v KXIP,CSK,KXIP,CSK,2,12,1,...,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False,17875
27858,23040,2022.0,1304089,GT v RCB,GT,RCB,GT,2,4,4,...,5.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False,24184