In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('all_season_details.csv')

C:\Users\harik\AppData\Local\Temp\ipykernel_11432\776536892.py:1: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('all_season_details.csv')

In [3]:
df.head()

,comment_id,season,match_id,match_name,home_team,away_team,current_innings,innings_id,over,ball,...,wicket_id,wkt_batsman_name,wkt_bowler_name,wkt_batsman_runs,wkt_batsman_balls,wkt_text,isRetiredHurt,text,preText,postText
0,110,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,False,"nice and full, angling and perhaps swinging in...",<p><strong>7.30pm</strong> Gaikwad and Conway ...,NaN
1,120,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,False,"Conway shuffles across off, and shimmies out a...",NaN,NaN
2,130,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,False,"good length, angling in at off and then straig...",NaN,NaN
3,140,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,4,...,NaN,NaN,NaN,NaN,NaN,NaN,False,"shorter and slanting into middle and leg, Gaik...","<p>Rummy: ""Fast bowling options for CSK defini...",NaN
4,150,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,5,...,NaN,NaN,NaN,NaN,NaN,NaN,False,Shami hits a heavy length and brings this back...,"<p>LG: ""Watching out for Hangargekar. He was i...",NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242550 entries, 0 to 242549
Data columns (total 45 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   comment_id         242550 non-null  int64
 1   season             242067 non-null  float64
 2   match_id           242550 non-null  int64
 3   match_name         242550 non-null  object
 4   home_team          242550 non-null  object
 5   away_team          242550 non-null  object
 6   current_innings    242550 non-null  object
 7   innings_id         242550 non-null  int64
 8   over               242550 non-null  int64
 9   ball               242550 non-null  int64
 10  runs               242550 non-null  int64
 11  shortText          242550 non-null  object
 12  isBoundary         242550 non-null  bool
 13  isWide             242550 non-null  bool
 14  isNoball           242550 non-null  bool
 15  batsman1_id        242550 non-null  int64
 16  batsman1_name      242550 non-null  object
 17  batsman1_runs      242550 non-null  int64
 18  batsman1_balls     242550 non-null  int64
 19  bowler1_id         242550 non-null  int64
 20  bowler1_name       242550 non-null  object
 21  bowler1_overs      242550 non-null  float64
 22  bowler1_maidens    242550 non-null  int64
 23  bowler1_runs       242550 non-null  int64
 24  bowler1_wkts       242550 non-null  int64
 25  batsman2_id        242550 non-null  object
 26  batsman2_name      242548 non-null  object
 27  batsman2_runs      242550 non-null  int64
 28  batsman2_balls     242550 non-null  int64
 29  bowler2_id         229709 non-null  float64
 30  bowler2_name       229709 non-null  object
 31  bowler2_overs      229709 non-null  float64
 32  bowler2_maidens    229709 non-null  float64
 33  bowler2_runs       229709 non-null  float64
 34  bowler2_wkts       229709 non-null  float64
 35  wicket_id          11880 non-null   float64
 36  wkt_batsman_name   11880 non-null   object
 37  wkt_bowler_name    11880 non-null   object
 38  wkt_batsman_runs   11880 non-null   float64
 39  wkt_batsman_balls  11880 non-null   float64
 40  wkt_text           11880 non-null   object
 41  isRetiredHurt      242550 non-null  bool
 42  text               241178 non-null  object
 43  preText            46275 non-null   object
 44  postText           19694 non-null   object
dtypes: bool(4), float64(10), int64(15), object(16)
memory usage: 76.8+ MB

In [5]:
df.isnull().sum()

comment_id                0
season                  483
match_id                  0
match_name                0
home_team                 0
away_team                 0
current_innings           0
innings_id                0
over                      0
ball                      0
runs                      0
shortText                 0
isBoundary                0
isWide                    0
isNoball                  0
batsman1_id               0
batsman1_name             0
batsman1_runs             0
batsman1_balls            0
bowler1_id                0
bowler1_name              0
bowler1_overs             0
bowler1_maidens           0
bowler1_runs              0
bowler1_wkts              0
batsman2_id               0
batsman2_name             2
batsman2_runs             0
batsman2_balls            0
bowler2_id            12841
bowler2_name          12841
bowler2_overs         12841
bowler2_maidens       12841
bowler2_runs          12841
bowler2_wkts          12841
wicket_id            230670
wkt_batsman_name     230670
wkt_bowler_name      230670
wkt_batsman_runs     230670
wkt_batsman_balls    230670
wkt_text             230670
isRetiredHurt             0
text                   1372
preText              196275
postText             222856
dtype: int64

In [6]:
df.duplicated().sum()

1

In [7]:
df.drop_duplicates()

,comment_id,season,match_id,match_name,home_team,away_team,current_innings,innings_id,over,ball,...,wicket_id,wkt_batsman_name,wkt_bowler_name,wkt_batsman_runs,wkt_batsman_balls,wkt_text,isRetiredHurt,text,preText,postText
0,110,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,False,"nice and full, angling and perhaps swinging in...",<p><strong>7.30pm</strong> Gaikwad and Conway ...,NaN
1,120,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,False,"Conway shuffles across off, and shimmies out a...",NaN,NaN
2,130,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,False,"good length, angling in at off and then straig...",NaN,NaN
3,140,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,4,...,NaN,NaN,NaN,NaN,NaN,NaN,False,"shorter and slanting into middle and leg, Gaik...","<p>Rummy: ""Fast bowling options for CSK defini...",NaN
4,150,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,5,...,NaN,NaN,NaN,NaN,NaN,NaN,False,Shami hits a heavy length and brings this back...,"<p>LG: ""Watching out for Hangargekar. He was i...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242545,219020,2008.0,336040,CSK v RR,CSK,RR,RR,2,20,2,...,NaN,NaN,NaN,NaN,NaN,NaN,False,lovely! Balaji's bowled a yorker outside off s...,NaN,NaN
242546,219030,2008.0,336040,CSK v RR,CSK,RR,RR,2,20,3,...,NaN,NaN,NaN,NaN,NaN,NaN,False,Warne steps down the track and throws his bat ...,NaN,<p>6 off 3 balls.</p>
242547,219050,2008.0,336040,CSK v RR,CSK,RR,RR,2,20,4,...,NaN,NaN,NaN,NaN,NaN,NaN,False,Warne reaches out for a full ball and squeezes...,NaN,<p>Three to win off two balls.</p>
242548,219040,2008.0,336040,CSK v RR,CSK,RR,RR,2,20,4,...,NaN,NaN,NaN,NaN,NaN,NaN,False,what has he done! Balaji has bowled a wide out...,<p>Rajasthan need two runs a ball. Balaji from...,NaN
242549,219060,2008.0,336040,CSK v RR,CSK,RR,RR,2,20,5,...,NaN,NaN,NaN,NaN,NaN,NaN,False,Balaji bowls a full toss angling into the left...,NaN,<p>Rajasthan need one off the final ball.</p>

In [8]:
df.columns

Index(['comment_id', 'season', 'match_id', 'match_name', 'home_team',
       'away_team', 'current_innings', 'innings_id', 'over', 'ball', 'runs',
       'shortText', 'isBoundary', 'isWide', 'isNoball', 'batsman1_id',
       'batsman1_name', 'batsman1_runs', 'batsman1_balls', 'bowler1_id',
       'bowler1_name', 'bowler1_overs', 'bowler1_maidens', 'bowler1_runs',
       'bowler1_wkts', 'batsman2_id', 'batsman2_name', 'batsman2_runs',
       'batsman2_balls', 'bowler2_id', 'bowler2_name', 'bowler2_overs',
       'bowler2_maidens', 'bowler2_runs', 'bowler2_wkts', 'wicket_id',
       'wkt_batsman_name', 'wkt_bowler_name', 'wkt_batsman_runs',
       'wkt_batsman_balls', 'wkt_text', 'isRetiredHurt', 'text', 'preText',
       'postText'],
      dtype='object')

HANDILING MISSING VALUES

In [10]:
df['season'] = df['season'].astype('object').fillna('Unknown')
df['batsman2_name'] = df['batsman2_name'].fillna('Unknown')
df['text']=df['text'].fillna('No Commentary')

In [11]:
bowler2_columns = ['bowler2_id', 'bowler2_name', 'bowler2_overs', 'bowler2_maidens', 'bowler2_runs', 'bowler2_wkts']
df[bowler2_columns] = df[bowler2_columns].fillna('Unknown')

In [12]:
wicket_columns = ['wicket_id', 'wkt_batsman_name', 'wkt_bowler_name', 'wkt_batsman_runs', 'wkt_batsman_balls', 'wkt_text']
df[wicket_columns] = df[wicket_columns].fillna('No Wicket')

In [13]:
df = df.drop(columns=['preText', 'postText'])

In [14]:
df.isnull().sum()

comment_id           0
season               0
match_id             0
match_name           0
home_team            0
away_team            0
current_innings      0
innings_id           0
over                 0
ball                 0
runs                 0
shortText            0
isBoundary           0
isWide               0
isNoball             0
batsman1_id          0
batsman1_name        0
batsman1_runs        0
batsman1_balls       0
bowler1_id           0
bowler1_name         0
bowler1_overs        0
bowler1_maidens      0
bowler1_runs         0
bowler1_wkts         0
batsman2_id          0
batsman2_name        0
batsman2_runs        0
batsman2_balls       0
bowler2_id           0
bowler2_name         0
bowler2_overs        0
bowler2_maidens      0
bowler2_runs         0
bowler2_wkts         0
wicket_id            0
wkt_batsman_name     0
wkt_bowler_name      0
wkt_batsman_runs     0
wkt_batsman_balls    0
wkt_text             0
isRetiredHurt        0
text                 0
dtype: int64

Feature Engineering

Tracks the total score i.e; cumulative runs for each team within each inning.

In [17]:
df['cumulative_score'] = df.groupby(['match_id', 'current_innings'])['runs'].cumsum()

In [18]:
df.cumulative_score

0           0
1           1
2           1
3           2
4           2
         ...
242545    157
242546    158
242547    159
242548    161
242549    163
Name: cumulative_score, Length: 242550, dtype: int64

Outlier Removal

Removing outliers using IQR for 'runs'

In [21]:
Q1_runs = df['runs'].quantile(0.25)
Q3_runs = df['runs'].quantile(0.75)
IQR_runs = Q3_runs - Q1_runs
df = df[(df['runs'] >= (Q1_runs - 1.5 * IQR_runs)) & (df['runs'] <= (Q3_runs + 1.5 * IQR_runs))]

Removing outliers using IQR for 'bowler1_overs'

In [23]:
Q1_overs = df['bowler1_overs'].quantile(0.25)
Q3_overs = df['bowler1_overs'].quantile(0.75)
IQR_overs = Q3_overs - Q1_overs
df = df[(df['bowler1_overs'] >= (Q1_overs - 1.5 * IQR_overs)) & (df['bowler1_overs'] <= (Q3_overs + 1.5 * IQR_overs))]

In [24]:
df.select_dtypes(include=['number'])

,comment_id,match_id,innings_id,over,ball,runs,batsman1_id,batsman1_runs,batsman1_balls,bowler1_id,bowler1_overs,bowler1_maidens,bowler1_runs,bowler1_wkts,batsman2_runs,batsman2_balls,cumulative_score
0,110,1359475,1,1,1,0,379140,0,1,481896,0.1,0,0,0,0,0,0
1,120,1359475,1,1,2,1,379140,0,2,481896,0.2,0,0,0,0,0,1
2,130,1359475,1,1,3,0,1060380,0,1,481896,0.3,0,0,0,0,2,1
3,140,1359475,1,1,4,1,1060380,1,2,481896,0.4,0,1,0,0,2,2
4,150,1359475,1,1,5,0,379140,0,3,481896,0.5,0,1,0,1,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242545,219020,336040,2,20,2,0,8166,7,7,26829,3.2,0,35,0,6,5,157
242546,219030,336040,2,20,3,1,8166,8,8,26829,3.3,0,36,0,6,5,158
242547,219050,336040,2,20,4,1,8166,9,9,26829,3.4,0,39,0,6,5,159
242548,219040,336040,2,20,4,2,43265,6,5,26829,3.3,0,38,0,8,8,161
242549,219060,336040,2,20,5,2,43265,8,6,26829,3.5,0,41,0,9,9,163

Standardization

Specify the numeric columns to standardize then Initialize the scaler and then Standardize the numeric columns

In [27]:
from sklearn.preprocessing import StandardScaler
numeric_cols = ['runs', 'bowler1_overs', 'bowler1_runs', 'batsman1_runs']
scaler = StandardScaler()
df[numeric_cols] = scaler.fit_transform(df[numeric_cols])

In [28]:
df.head()

,comment_id,season,match_id,match_name,home_team,away_team,current_innings,innings_id,over,ball,...,bowler2_wkts,wicket_id,wkt_batsman_name,wkt_bowler_name,wkt_batsman_runs,wkt_batsman_balls,wkt_text,isRetiredHurt,text,cumulative_score
0,110,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,1,...,Unknown,No Wicket,No Wicket,No Wicket,No Wicket,No Wicket,No Wicket,False,"nice and full, angling and perhaps swinging in...",0
1,120,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,2,...,Unknown,No Wicket,No Wicket,No Wicket,No Wicket,No Wicket,No Wicket,False,"Conway shuffles across off, and shimmies out a...",1
2,130,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,3,...,Unknown,No Wicket,No Wicket,No Wicket,No Wicket,No Wicket,No Wicket,False,"good length, angling in at off and then straig...",1
3,140,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,4,...,Unknown,No Wicket,No Wicket,No Wicket,No Wicket,No Wicket,No Wicket,False,"shorter and slanting into middle and leg, Gaik...",2
4,150,2023.0,1359475,GT v CSK,GT,CSK,CSK,1,1,5,...,Unknown,No Wicket,No Wicket,No Wicket,No Wicket,No Wicket,No Wicket,False,Shami hits a heavy length and brings this back...,2

In [29]:
print(df)

        comment_id  season  match_id match_name home_team away_team  \
0              110  2023.0   1359475   GT v CSK        GT       CSK
1              120  2023.0   1359475   GT v CSK        GT       CSK
2              130  2023.0   1359475   GT v CSK        GT       CSK
3              140  2023.0   1359475   GT v CSK        GT       CSK
4              150  2023.0   1359475   GT v CSK        GT       CSK
...            ...     ...       ...        ...       ...       ...
242545      219020  2008.0    336040   CSK v RR       CSK        RR
242546      219030  2008.0    336040   CSK v RR       CSK        RR
242547      219050  2008.0    336040   CSK v RR       CSK        RR
242548      219040  2008.0    336040   CSK v RR       CSK        RR
242549      219060  2008.0    336040   CSK v RR       CSK        RR

       current_innings  innings_id  over  ball  ...  bowler2_wkts  wicket_id  \
0                  CSK           1     1     1  ...       Unknown  No Wicket
1                  CSK           1     1     2  ...       Unknown  No Wicket
2                  CSK           1     1     3  ...       Unknown  No Wicket
3                  CSK           1     1     4  ...       Unknown  No Wicket
4                  CSK           1     1     5  ...       Unknown  No Wicket
...                ...         ...   ...   ...  ...           ...        ...
242545              RR           2    20     2  ...           0.0  No Wicket
242546              RR           2    20     3  ...           0.0  No Wicket
242547              RR           2    20     4  ...           0.0  No Wicket
242548              RR           2    20     4  ...           0.0  No Wicket
242549              RR           2    20     5  ...           0.0  No Wicket

        wkt_batsman_name  wkt_bowler_name  wkt_batsman_runs  \
0              No Wicket        No Wicket         No Wicket
1              No Wicket        No Wicket         No Wicket
2              No Wicket        No Wicket         No Wicket
3              No Wicket        No Wicket         No Wicket
4              No Wicket        No Wicket         No Wicket
...                  ...              ...               ...
242545         No Wicket        No Wicket         No Wicket
242546         No Wicket        No Wicket         No Wicket
242547         No Wicket        No Wicket         No Wicket
242548         No Wicket        No Wicket         No Wicket
242549         No Wicket        No Wicket         No Wicket

        wkt_batsman_balls   wkt_text  isRetiredHurt  \
0               No Wicket  No Wicket          False
1               No Wicket  No Wicket          False
2               No Wicket  No Wicket          False
3               No Wicket  No Wicket          False
4               No Wicket  No Wicket          False
...                   ...        ...            ...
242545          No Wicket  No Wicket          False
242546          No Wicket  No Wicket          False
242547          No Wicket  No Wicket          False
242548          No Wicket  No Wicket          False
242549          No Wicket  No Wicket          False

                                                     text  cumulative_score
0       nice and full, angling and perhaps swinging in...                 0
1       Conway shuffles across off, and shimmies out a...                 1
2       good length, angling in at off and then straig...                 1
3       shorter and slanting into middle and leg, Gaik...                 2
4       Shami hits a heavy length and brings this back...                 2
...                                                   ...               ...
242545  lovely! Balaji's bowled a yorker outside off s...               157
242546  Warne steps down the track and throws his bat ...               158
242547  Warne reaches out for a full ball and squeezes...               159
242548  what has he done! Balaji has bowled a wide out...               161
242549  Balaji bowls a full toss angling into the left...               163

[201642 rows x 44 columns]

In [31]:
df.dtypes

comment_id             int64
season                object
match_id               int64
match_name            object
home_team             object
away_team             object
current_innings       object
innings_id             int64
over                   int64
ball                   int64
runs                 float64
shortText             object
isBoundary              bool
isWide                  bool
isNoball                bool
batsman1_id            int64
batsman1_name         object
batsman1_runs        float64
batsman1_balls         int64
bowler1_id             int64
bowler1_name          object
bowler1_overs        float64
bowler1_maidens        int64
bowler1_runs         float64
bowler1_wkts           int64
batsman2_id           object
batsman2_name         object
batsman2_runs          int64
batsman2_balls         int64
bowler2_id            object
bowler2_name          object
bowler2_overs         object
bowler2_maidens       object
bowler2_runs          object
bowler2_wkts          object
wicket_id             object
wkt_batsman_name      object
wkt_bowler_name       object
wkt_batsman_runs      object
wkt_batsman_balls     object
wkt_text              object
isRetiredHurt           bool
text                  object
cumulative_score       int64
dtype: object